name: Build
on:
  workflow_dispatch:
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          command: buildozer android debug
      - uses: actions/upload-artifact@v3
          with:
            name: app
            path: bin/*.apk
